header.bar.bar-nav {
    margin-top: 16px;
}
img.media-object.pull-left {
    border-radius: 5px;
    max-width: 60px;
    border: 1px solid black;
}
li.table-view-cell {
    background-color: azure;
}
.star {
    color: gold;
    font-size: 1.0rem;
    position: relative;
    padding: 0 0.5rem;
    /* space out the stars */
}
.star::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2606';
    cursor: pointer;
}
.star:hover::before {
    content: '\2605' !important;
    color: goldenrod;
}
.star.rated::before {
    content: '\2605' !important;
}
